// SPDX-License-Identifier: BSD-3-Clause
/*
 * Copyright (c) 2024, Retroid Pocket.
 */

/dts-v1/;

#include "sm8250-retroidpocket-common.dtsi"

/ {
	model = "Retroid Pocket 5";
	compatible = "retroidpocket,rp5", "qcom,sm8250";

	chosen {
		#address-cells = <2>;
		#size-cells = <2>;
		ranges;

		framebuffer: framebuffer@9c000000 {
			compatible = "simple-framebuffer";
			reg = <0x0 0x9c000000 0x0 0x2300000>;
			width = <1080>;
			height = <1920>;
			stride = <(1080 * 4)>;
			format = "a8r8g8b8";
		};
	};
};

&i2c13 {
	touchscreen@38 {
		touchscreen-size-x = <1080>;
		touchscreen-size-y = <1920>;
		touchscreen-inverted-x;
		touchscreen-inverted-y;
	};
};

&mdss_dsi0 {
	panel@0 {
		compatible = "ch13726a,rp5";
		rotation = <270>;
	};
};
